.navbar{
  display: flex;
  align-items: center;
  padding: 20px
}
nav{
  flex: 1;
  font-family: 'Montserrat', sans-serif;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}
nav a{
  /*Remove default link styling in navbar*/
  text-decoration: none;
}
