{% extends "base.html" %}
{% block content %}

<h1>Admin dashboard</h1>

{% if unhandled_reports %}
    <h2>Unhandled reports</h2>
    <table>
        <tr>
            <th>Report ID</th>
            <th>Review</th>
            <th>Address</th>
            <th>Reporter Name</th>
            <th>Reporter University</th>
            <th>Reporter Email</th>
            <th>Reporter Comment</th>
            <th>Handled</th>
            <th>Handle</th>
        </tr>
        {% for report in unhandled_reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.review.comment }}</td>
                <td>{{ report.review.property.address }}</td>
                <td>{{ report.user.name }}</td>
                <td>{{ report.user.university }}</td>
                <td>{{ report.user.email }}</td>
                <td>{{ report.comment }}</td>
                <td>{{ report.handled }}</td>
                <td>
                    <form method="POST" action="">
                        <input type="hidden" id="reported" name="reported" value="{{ report.id }}">
                        {{ report_handle_form.csrf_token }}
                        {{ report_handle_form.action.label }} {{ report_handle_form.action }} 
                        {{ report_handle_form.submit() }}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>No unhandled reports</h2>
{% endif %}

{% if handled_reports %}
    <h2>Handled reports</h2>
    <table>
        <tr>
            <th>Report ID</th>
            <th>Review</th>
            <th>Address</th>
            <th>Reporter Name</th>
            <th>Reporter University</th>
            <th>Reporter Email</th>
            <th>Reporter Comment</th>
            <th>Handled</th>
        </tr>
        {% for report in handled_reports %}
            <tr>
                <td>{{ report.id }}</td>
                <td>{{ report.review.comment }}</td>
                <td>{{ report.review.property.address }}</td>
                <td>{{ report.user.name }}</td>
                <td>{{ report.user.university }}</td>
                <td>{{ report.user.email }}</td>
                <td>{{ report.comment }}</td>
                <td>{{ report.handled }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>No reports</h1>
{% endif %}

{% if unhandled_estate_agent_requests %}
    <h2>Unhandled Estate Agent Requests</h2>
    <table>
        <tr>
            <th>Request ID</th>
            <th>Requester Name</th>
            <th>Requester Email</th>
            <th>Estate Agent Name</th>
            <th>Estate Agent Email</th>
            <th>Estate Agent Phone</th>
            <th>Estate Agent Website</th>
            <th>Date</th>
            <th>Handle</th>
        </tr>
        {% for request in unhandled_estate_agent_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.user.name }}</td>
                <td>{{ request.user.email }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.phone }}</td>
                <td>{{ request.website }}</td>
                <td>{{ request.date }}</td>
                <td>
                    <form method="POST" action="">
                        <input type="hidden" id="estate-agent-request" name="estate-agent-request" value="{{ request.id }}">
                        {{ request_handle_form.csrf_token }}
                        {{ request_handle_form.action.label }} {{ request_handle_form.action }} 
                        {{ request_handle_form.submit() }}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>No unhandled estate agent requests</h1>
{% endif %}

{% if handled_estate_agent_requests %}
    <h2>Handled Estate Agent Requests</h2>
    <table>
        <tr>
            <th>Request ID</th>
            <th>Requester Name</th>
            <th>Requester Email</th>
            <th>Estate Agent Name</th>
            <th>Estate Agent Email</th>
            <th>Estate Agent Phone</th>
            <th>Estate Agent Website</th>
            <th>Date</th>
        </tr>
        {% for request in handled_estate_agent_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.user.name }}</td>
                <td>{{ request.user.email }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.phone }}</td>
                <td>{{ request.website }}</td>
                <td>{{ request.date }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>No handled estate agent requests</h1>
{% endif %}

{% endblock content %}