<html lang="en">
<head>
    <title>Rate My Student Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {#    Base Global Styles & Color Scheme#}
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/base.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/colors.css') }}">

    {#    Google Fonts Import#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar">
        <ul>
            <li class="nav-logo"><a href="/">
                <img src="{{ url_for('static', filename='img/' + 'LogoPlaceholder.png') }}"
                     alt="RMSH Logo Placeholder">
            </a>
            </li>
            <li class="nav-crumb"><a class="primaryRed" href="/">Home</a></li>
            <li class="nav-crumb"><a class="secondaryRed" href="/review">Find a Review</a></li>
            <li class="nav-crumb"><a class="secondaryRed" href="/review/create">Rate your Home</a></li>
            <li class="nav-crumb"><a class="secondaryRed" href="/map">Map View</a></li>
            <li class="nav-crumb"><a class="secondaryRed" href="/about">About Us</a></li>
            <li class="nav-crumb"><a class="secondaryRed" href="/help-center">Help</a></li>
        </ul>
    </nav>
</header>

<div id="flashbar">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="alert-message {{ category }}">{{ message }} <button onclick="hideFlash()">✖</button></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<script>
    function hideFlash() {
        document.querySelector(".flashes").style.display = "none";
    }
</script>
<script>
    setTimeout(() => {
        const flashes = document.querySelector("#flashbar");
        if (flashes) {
            /* Add the fade-out class to trigger the CSS transition */
            flashes.classList.add("fade-out");
            /* Remove the flashes element from the DOM once the transition is complete */
            setTimeout(() => {
                flashes.remove();
            }, 1800);
        }
    }, 1800);
</script>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer>
    {#    TODO: Add Footer#}
    <p>© GrL Dev. 2023</p>
</footer>
</body>
</html>