<html lang="en">
<head>
    <title>Rate My Student Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<header>
    <nav>
        {#        TODO: Add NavBar#}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Search</a></li>
        </ul>
    </nav>
</header>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer>
    {#    TODO: Add Footer#}
    <p>© GrL Dev. 2023</p>
</footer>
</body>
</html>