{% extends "base.html" %}
{% block content %}
{# TODO: Add Home content#}
<style>
    .welcome-block {
        position: relative;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 140px 0;
        background-image: url({{ url_for('static', filename='img/' + 'cardiffSkyline.webp') }});
    }

    .welcome-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }
</style>
<div class="welcome-block">
    <div class="welcome-text">
        <p>Welcome to Rate My Student Home Cardiff!</p>
    </div>
</div>

{% endblock content %}